@import "/css/header.css";
@import "/css/footer.css";
@import "/css/galleries.css";
@import "/css/about.css";
@import "/css/services.css";

/* GLOBAL STYLING */

* {
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", cursive, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #fdfefe;
  --main-text-color: #3c3d42;
  --main-lighter-text-color: #2e2e2e;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  width: 70%;
  margin: 1rem auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

h1 {
  font-size: 1.9em;
}

h1,
h3 {
  font-weight: 100;
  color: var(--main-text-color);
}

/* STYLING THE TOOLTIP */

.tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 16px;
  visibility: hidden;
  position: absolute;
  text-align: center;
  width: 120px;
  color: #a6a8b4;
  border-radius: 3px;
  top: -25px;
  left: -45px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (min-width: 1280px) {
  body {
    width: 1100px;
  }
}


@media screen and (max-width: 600px) {
  body {
    width: 85%;
  }
}
